{% extends 'main.html' %}

{% block models %}
    <div style="display: flex; justify-content: space-between">
    {% for model in models %}
        <div style="text-align: center; height: 150px; width: 300px;">
            <img src="{{ model.image.url }}" alt="" style="width: 200px">
            <h5>{{ model.name }}</h5>
            <p>{{ model.engine }}</p>
            <p>{{ model.hp }}</p>
            <p>{{ model.nm }}</p>
            <p>{{ model.model }}</p>
            <a href="model/{{ model.id }}">Series</a>
        </div>
    {% endfor %}
</div>

{% endblock %}
