<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Detail View</title>
</head>
<body>
    <style type="text/css">
        .post_block {

        }
        .post_block h1 {
            text-align: center;
            color: #242b2e;
        }
        .post_block h5 {
            text-align: center;
            color: #242b2e;
        }
    </style>
    <div class="model">
        {% for i in models %}
            <div class="model_block">
                <h1>{{ i.name }}</h1>
                <h1>{{ i.engine }}</h1>
                <h1>{{ i.hp }}</h1>
                <h1>{{ i.nm }}</h1>
            </div>
        {% endfor %}

    </div>

</body>
</html>